/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Project code begins */
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-image: url("./assets/popcorn-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: maroon;
}

p {
  max-width: 75ch;
  font-size: 1.4rem;
  font-family: "Sour Gummy", sans-serif;
  font-weight: 250;
}

h1 {
  font-size: 3rem;
  font-family: "Snowburst One", system-ui;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Sour Gummy", sans-serif;
  font-weight: lighter;
  font-style: italic;
}

figure h2 {
  font-style: normal;
  font-weight: 500;
}

#content {
  margin: 0 200px 0 200px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #FAFAFA;
  height: 100vh;
  overflow-y: auto;
  width: clamp(700px, 50%, 900px);
  align-self: center;
}

#content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content img {
  border-radius: 10px;
  height: auto;
  width: 500px;
  box-shadow: 0 2px 6px gray;
  margin-bottom: 10px;
}

#content #home-image {
  height: auto;
  width: 800px;
}

#content figcaption {
  font-style: italic;
  text-align: center;
  font-size: 1.1rem;
}

nav, #footer {
  background-color: maroon;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

nav {
  box-shadow: 3px 3px 10px gray;
  height: 100px;
}

#footer {
  color: palegoldenrod;
  font-weight: bold;
  font-family: "Sour Gummy", sans-serif;
}

nav button {
  background-color: palegoldenrod;
  border: 2px solid maroon;
  border-radius: 80px;
  height: 50px;
  width: 90px;
  color: maroon;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Sour Gummy", sans-serif;
}

nav button:hover {
  background-color: #FAFAFA;
  border: 1px solid #FAFAFA;
  cursor: pointer;
  text-decoration: underline;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 25px;
  border-bottom: 3px dotted maroon;
  padding-bottom: 30px;
}

.menu-item figure {
  grid-row: 1 / 3;
  justify-self: end;
  margin-right: 150px;
}

.menu-item-desc {
  align-self: end;
  margin-bottom: 30px;
}